# Predict The Power - Version 2.0

In the first attempt, I tried using Linear Regression with almost no feature engineering. Now that I have learned a technique to use deep neural network for tabular data, I am going apply that in this problem and see what happens.

[Competition Link](https://www.hackerearth.com/challenges/competitive/hackerearth-machine-learning-challenge-predict-windmill-power/)

In [1]:
%cd '/content/drive/Shareddrives/With Myself/HackerEarth-ml-competitions/predict-the-power/dataset'

/content/drive/Shareddrives/With Myself/HackerEarth-ml-competitions/predict-the-power/dataset

My academic email comes with unlimited google drive storage. I have created a shared drive there and shared it with my other google accounts, so that I can store the huge datasets for ML and DL.

## Imports

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.layers import Input, Embedding, Dense, Reshape, Concatenate, Dropout, BatchNormalization
from tensorflow.keras import Model

In [45]:
from sklearn import metrics

## Data

In [4]:
!ls

sample_submission.csv  test.csv  train.csv

### Load the data

In [5]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

### Take a peek into the data

In [6]:
train.head()

  tracking_id  ... windmill_generated_power(kW/h)
0    WM_33725  ...                       6.766521
1      WM_698  ...                       5.966275
2    WM_39146  ...                       2.874342
3     WM_6757  ...                      14.851089
4    WM_21521  ...                       3.519074

[5 rows x 22 columns]

In [7]:
test.head()

  tracking_id             datetime  ...  blade_breadth(m)  windmill_height(m)
0    WM_19817  2019-04-17 08:53:20  ...          0.403965           25.572431
1    WM_18723  2019-03-30 07:43:20  ...          0.444755           24.371823
2    WM_34552  2019-08-10 11:33:20  ...          0.387368           27.654677
3    WM_28570  2019-06-26 03:53:20  ...          0.450478           24.189426
4    WM_36934  2019-08-27 16:43:20  ...          0.368355            4.885440

[5 rows x 21 columns]

In [9]:
train.describe().transpose()

                                  count  ...           max
wind_speed(m/s)                 27927.0  ...  6.014557e+02
atmospheric_temperature(°C)     24750.0  ...  8.021744e+01
shaft_temperature(°C)           28198.0  ...  1.698205e+02
blades_angle(°)                 27984.0  ...  1.659321e+02
gearbox_temperature(°C)         28199.0  ...  9.990000e+02
engine_temperature(°C)          28188.0  ...  5.000000e+01
motor_torque(N-m)               28176.0  ...  3.000000e+03
generator_temperature(°C)       28188.0  ...  1.000000e+02
atmospheric_pressure(Pascal)    25493.0  ...  1.272552e+06
area_temperature(°C)            28200.0  ...  5.500000e+01
windmill_body_temperature(°C)   25837.0  ...  3.230000e+02
wind_direction(°)               23097.0  ...  5.699665e+02
resistance(ohm)                 28199.0  ...  4.693482e+03
rotor_torque(N-m)               27628.0  ...  2.368833e+02
blade_length(m)                 23107.0  ...  1.820980e+01
blade_breadth(m)                28200.0  ...  4.999753e-01
windmill_height(m)              27657.0  ...  7.835134e+01
windmill_generated_power(kW/h)  27993.0  ...  2.017536e+01

[18 rows x 8 columns]

In [10]:
train.dtypes

tracking_id                        object
datetime                           object
wind_speed(m/s)                   float64
atmospheric_temperature(°C)       float64
shaft_temperature(°C)             float64
blades_angle(°)                   float64
gearbox_temperature(°C)           float64
engine_temperature(°C)            float64
motor_torque(N-m)                 float64
generator_temperature(°C)         float64
atmospheric_pressure(Pascal)      float64
area_temperature(°C)              float64
windmill_body_temperature(°C)     float64
wind_direction(°)                 float64
resistance(ohm)                   float64
rotor_torque(N-m)                 float64
turbine_status                     object
cloud_level                        object
blade_length(m)                   float64
blade_breadth(m)                  float64
windmill_height(m)                float64
windmill_generated_power(kW/h)    float64
dtype: object

We can see that there are 18 continuous variables and 2 categorical variables (ignoring *tracking_id* and *datetime* as those donot seem important)

In [12]:
train.isna().sum()

tracking_id                          0
datetime                             0
wind_speed(m/s)                    273
atmospheric_temperature(°C)       3450
shaft_temperature(°C)                2
blades_angle(°)                    216
gearbox_temperature(°C)              1
engine_temperature(°C)              12
motor_torque(N-m)                   24
generator_temperature(°C)           12
atmospheric_pressure(Pascal)      2707
area_temperature(°C)                 0
windmill_body_temperature(°C)     2363
wind_direction(°)                 5103
resistance(ohm)                      1
rotor_torque(N-m)                  572
turbine_status                    1759
cloud_level                        276
blade_length(m)                   5093
blade_breadth(m)                     0
windmill_height(m)                 543
windmill_generated_power(kW/h)     207
dtype: int64

### Splitting features and target

In [13]:
numerical_feaures = ['wind_speed(m/s)', 'atmospheric_temperature(°C)', 'shaft_temperature(°C)', 'blades_angle(°)',
                     'gearbox_temperature(°C)', 'engine_temperature(°C)', 'motor_torque(N-m)', 'generator_temperature(°C)',
                     'atmospheric_pressure(Pascal)', 'area_temperature(°C)', 'windmill_body_temperature(°C)', 'wind_direction(°)',
                     'resistance(ohm)', 'rotor_torque(N-m)', 'blade_length(m)', 'blade_breadth(m)', 'windmill_height(m)']
categorical_features = ['turbine_status', 'cloud_level']

In [15]:
X = train[numerical_feaures+categorical_features].copy()
y = train['windmill_generated_power(kW/h)'].copy()

To handle the missing values, I am going to use the **mean** for numerical variables and **Missing** for categorical variables.

In [17]:
for feature in numerical_feaures:
  X[feature].fillna(X[feature].mean(), inplace=True)

In [18]:
X[categorical_features] = X[categorical_features].fillna("Missing")

I was thinking if I should remove the missing values from the target variable, but now I think I am going to fill them with mean values.

In [21]:
y.fillna(y.mean(), inplace=True)

### Converting some features

I think I should convert the **Celsius** values into **Kelvin**.

In [23]:
def C_to_K(row):
  return row+273.15

In [24]:
celsius_features = ['atmospheric_temperature(°C)', 'shaft_temperature(°C)', 'gearbox_temperature(°C)', 'engine_temperature(°C)',
                    'generator_temperature(°C)', 'area_temperature(°C)', 'windmill_body_temperature(°C)']
for feature in celsius_features:
  X[feature] = X[feature].apply(C_to_K)
# X[celsius_features] = X[celsius_features].apply()

Also **Degree** to **Radian**.

In [26]:
def Deg_to_Rad(row):
  return row*0.01745 # pi/180 yeilds 0.01745

In [27]:
for feature in ['blades_angle(°)', 'wind_direction(°)']:
  X[feature] = X[feature].apply(Deg_to_Rad)

Lets see what we have after these conversions:

In [28]:
X.head()

   wind_speed(m/s)  atmospheric_temperature(°C)  ...  turbine_status  cloud_level
0        94.820023                   174.150000  ...              BA       Medium
1       241.832734                   300.914785  ...              A2       Medium
2        95.484724                   273.533727  ...             ABC       Medium
3       238.819424                   174.150000  ...             ABC      Missing
4        10.722890                   273.533727  ...             AAA       Medium

[5 rows x 19 columns]

Don't mind the column names!

### Splitting data Train and Test data

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Scaling the data

In [31]:
scaler = StandardScaler()
X_train[numerical_feaures] = scaler.fit_transform(X_train[numerical_feaures])
X_test[numerical_feaures] = scaler.transform(X_test[numerical_feaures])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [32]:
X_train.head()

       wind_speed(m/s)  atmospheric_temperature(°C)  ...  turbine_status  cloud_level
1631         -0.704840                    -0.000423  ...              BD       Medium
17088         0.329642                     0.616009  ...             ABC       Medium
18421         0.259316                     0.429557  ...              BA       Medium
22209         0.354854                     0.566472  ...               A          Low
1534          0.349538                     0.701377  ...              AB          Low

[5 rows x 19 columns]

### Converting Categorical Feature values into Numeric form

In [33]:
# convert categorical features to numerical value for modelling
def categorify(df, cat_vars):
  categories = {}
  for cat in cat_vars:
    df[cat] = df[cat].astype("category").cat.as_ordered()
    categories[cat] = df[cat].cat.categories
  return categories

# apply these values to test data
def apply_test(test, categories):
  for cat, index in categories.items():
    test[cat] = pd.Categorical(test[cat], categories=categories[cat], ordered=True)

In [34]:
categories = categorify(X_train, categorical_features)
apply_test(X_test, categories)

for cat in categorical_features:
  X_train[cat] = X_train[cat].cat.codes+1
  X_test[cat] = X_test[cat].cat.codes+1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Model

In [35]:
# get embedding size for each categorical variable
def get_emb_sz(cat_col, categories_dict):
  num_classes = len(categories_dict[cat_col])
  return int(min(600, round(1.6*num_classes**0.56)))

This function was created following [Jeremy Howard’s ‘Introduction to Machine Learning for Coders’](https://course18.fast.ai/ml) course.

In [36]:
def define_model(categorical_features, categories_dict, numerical_feaures, layers):
  inputs = []
  embeddings = []
  emb_dict ={}
  
  # create embedding layer for each categorical variables
  for cat in categorical_features:
    emb_dict[cat] = Input(shape=(1,))
    emb_sz = get_emb_sz(cat, categories_dict)
    vocab = len(categories_dict[cat])+1
    embedding = Embedding(vocab, emb_sz, input_length=1)(emb_dict[cat])
    embedding = Reshape(target_shape=(emb_sz,))(embedding)
    inputs.append(emb_dict[cat])
    embeddings.append(embedding)
  
  # concat numerical variables with embedded variables
  cont_input = Input(shape=(len(numerical_feaures),))
  embedding = BatchNormalization()(cont_input)
  inputs.append(cont_input)
  embeddings.append(embedding)
  x = Concatenate()(embeddings)
  
  # add user-defined fully-connected layers separated with batchnorm and dropout layers
  for i in range(len(layers)):
    if i == 0:
      x = Dense(layers[i], activation="relu")(x)
    else:
      x = BatchNormalization()(x)
      x = Dropout(0.5)(x)
      x = Dense(layers[i], activation="relu")(x)
  output = Dense(1)(x)
  model = Model(inputs, output)
  return model

In [60]:
layers = [200, 100]
model = define_model(categorical_features, categories, numerical_feaures, layers)
model.compile(optimizer=tf.keras.optimizers.Adam(0.0001),
              loss=tf.keras.losses.MeanSquaredError(),
              metrics=["mean_squared_error", "cosine_similarity"])
model.summary()

Model: "model_6"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_19 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_20 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
embedding_12 (Embedding)        (None, 1, 7)         112         input_19[0][0]
__________________________________________________________________________________________________
embedding_13 (Embedding)        (None, 1, 3)         15          input_20[0][0]
__________________________________________________________________________________________________
input_21 (InputLayer)           [(None, 17)]         0
__________________________________________________________________________________________________
reshape_12 (Reshape)            (None, 7)            0           embedding_12[0][0]
__________________________________________________________________________________________________
reshape_13 (Reshape)            (None, 3)            0           embedding_13[0][0]
__________________________________________________________________________________________________
batch_normalization_15 (BatchNo (None, 17)           68          input_21[0][0]
__________________________________________________________________________________________________
concatenate_6 (Concatenate)     (None, 27)           0           reshape_12[0][0]
                                                                 reshape_13[0][0]
                                                                 batch_normalization_15[0][0]
__________________________________________________________________________________________________
dense_21 (Dense)                (None, 200)          5600        concatenate_6[0][0]
__________________________________________________________________________________________________
batch_normalization_16 (BatchNo (None, 200)          800         dense_21[0][0]
__________________________________________________________________________________________________
dropout_9 (Dropout)             (None, 200)          0           batch_normalization_16[0][0]
__________________________________________________________________________________________________
dense_22 (Dense)                (None, 100)          20100       dropout_9[0][0]
__________________________________________________________________________________________________
dense_23 (Dense)                (None, 1)            101         dense_22[0][0]
==================================================================================================
Total params: 26,796
Trainable params: 26,362
Non-trainable params: 434
__________________________________________________________________________________________________

In [39]:
# process x_train input to fit model
input_list = []
for cat in categorical_features:
  input_list.append(X_train[cat].values)
input_list.append(X_train[numerical_feaures].values)

# modify x_test input to fit model
test_list = []
for cat in categorical_features:
  test_list.append(X_test[cat].values)
test_list.append(X_test[numerical_feaures].values)

In [61]:
model.fit(input_list, y_train, epochs=10)

Epoch 1/10
705/705 [==============================] - 3s 3ms/step - loss: 9.3989 - mean_squared_error: 9.3989 - cosine_similarity: 0.9733
Epoch 2/10
705/705 [==============================] - 2s 2ms/step - loss: 4.4764 - mean_squared_error: 4.4764 - cosine_similarity: 0.9999
Epoch 3/10
705/705 [==============================] - 2s 2ms/step - loss: 3.9167 - mean_squared_error: 3.9167 - cosine_similarity: 0.9998
Epoch 4/10
705/705 [==============================] - 2s 2ms/step - loss: 3.5959 - mean_squared_error: 3.5959 - cosine_similarity: 0.9998
Epoch 5/10
705/705 [==============================] - 2s 3ms/step - loss: 3.4400 - mean_squared_error: 3.4400 - cosine_similarity: 0.9998
Epoch 6/10
705/705 [==============================] - 2s 3ms/step - loss: 3.3346 - mean_squared_error: 3.3346 - cosine_similarity: 0.9999
Epoch 7/10
705/705 [==============================] - 2s 2ms/step - loss: 3.1574 - mean_squared_error: 3.1574 - cosine_similarity: 1.0000
Epoch 8/10
705/705 [==============================] - 2s 2ms/step - loss: 3.0347 - mean_squared_error: 3.0347 - cosine_similarity: 0.9996
Epoch 9/10
705/705 [==============================] - 2s 2ms/step - loss: 2.9321 - mean_squared_error: 2.9321 - cosine_similarity: 1.0000
Epoch 10/10
705/705 [==============================] - 2s 2ms/step - loss: 2.8981 - mean_squared_error: 2.8981 - cosine_similarity: 0.9998

In [62]:
y_pred = model.predict(test_list)

In [63]:
metrics.r2_score(y_test, y_pred)

0.6916928084215341

In [69]:
def test_data_prediction(test, scaler, categories, model):
  # selecting the features that i want
  X = test[numerical_feaures+categorical_features].copy()
  # fill the missing values
  for feature in numerical_feaures:
    X[feature].fillna(X[feature].mean(), inplace=True)
  X[categorical_features].fillna("Missing", inplace=True)
  # convert Celsius to Kelvin
  for feature in celsius_features:
    X[feature] = X[feature].apply(C_to_K)
  # convert Degree to Radian
  for feature in ['blades_angle(°)', 'wind_direction(°)']:
    X[feature] = X[feature].apply(Deg_to_Rad)
  # scale the data
  X[numerical_feaures] = scaler.transform(X[numerical_feaures])
  # convert categorical feature values into numeric form
  apply_test(X, categories)
  for cat in categorical_features:
    X[cat] = X[cat].cat.codes+1
  # prepare the data for input
  test_list = []
  for cat in categorical_features:
    test_list.append(X[cat].values)
  test_list.append(X[numerical_feaures].values)

  return model.predict(test_list)

In [70]:
predictions = test_data_prediction(test, scaler, categories, model)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [72]:
predictions[:5]

array([[2.4626923],
       [3.4783986],
       [2.4836075],
       [4.148167 ],
       [4.6949306]], dtype=float32)

In [74]:
output_df = test[['tracking_id', 'datetime']]
output_df['windmill_generated_power(kW/h)'] = pd.DataFrame(data=predictions, columns=['windmill_generated_power(kW/h)'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [75]:
output_df.head()

  tracking_id             datetime  windmill_generated_power(kW/h)
0    WM_19817  2019-04-17 08:53:20                        2.462692
1    WM_18723  2019-03-30 07:43:20                        3.478399
2    WM_34552  2019-08-10 11:33:20                        2.483608
3    WM_28570  2019-06-26 03:53:20                        4.148167
4    WM_36934  2019-08-27 16:43:20                        4.694931

In [76]:
output_df.to_csv('predictions.csv')